.footer {
    position: absolute;
    background-color: #1c1c1c;
    width: 100%;
    min-height: 50px;
    padding: 0.75em 0.7em;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer img {
    border-radius: 50%;
    width: 26px;
    height: 26px;
}

.descriptionWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    margin: 0 10px;
    font-size: 32px;
    background: linear-gradient(to bottom right, #ff61d2, #fe9090);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 425px) {
    .description {
        font-size: 22px;
    }
}
